/* ===== CTA ===== */
.cta-wrapper {
  padding: 60px 20px;
}

.cta-box {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  background: linear-gradient(135deg, #0e6ba8, #0a4e78);
  color: white;
}

.cta-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 22px 22px;
}

.cta-box h2 {
  font-size: 28px;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.cta-box p {
  max-width: 650px;
  margin: auto;
  margin-bottom: 30px;
  opacity: 0.9;
  position: relative;
  z-index: 1;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

.btn-primary {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  background: white;
  color: #0b1f2a;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #00c6ff;
  color: white;
  transform: scale(1.05);
}

.btn-outline {
  padding: 12px 22px;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline:hover {
  background: white;
  color: #0b1f2a;
}

/* ===== FOOTER ===== */
.footer {
  padding: 60px 40px 20px;
}

.dark .footer {
  background: #081520;
  color: white;
}

.light .footer {
  background: #fff;
  color: #111;
}

/* GRID */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 70px;
  border-radius: 10px;

}

/* LINKS */
.footer-col a {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  transition: 0.3s;
}

/* HOVER */
.footer-col a:hover {
  color: #00c6ff;
  transform: translateX(5px);
}

/* SOCIAL */
.socials a {
  display: inline-flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 10px;

  background: rgba(255,255,255,0.1);
  transition: 0.3s;
}

.socials a:hover {
  background: #00c6ff;
  transform: scale(1.1);
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between; /* 🔥 pushes right section to end */
  align-items: center;
}

.footer-bottom div {
  display: flex;
  gap: 20px;
}

.footer-bottom a {
  text-decoration: none;
  transition: 0.3s;
}

.footer-bottom a:hover {
  color: #00c6ff;
  transform: translateY(-2px);
}
/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}