/* ===== NAVBAR BASE ===== */
.navbar {
  position: fixed !important;   /* 🔥 force it */
  top: 0;
  left: 0;
  width: 100%;

  z-index: 99999;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  padding: 12px 50px;
  padding-top: 80;
  height: 70px;

  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/* ===== SCROLL EFFECT (STRONGER GLASS) ===== */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  box-shadow: 0 8px 30px rgba(0,0,0,0.1);
}

/* ===== LIGHT MODE ===== */
.navbar.light {
  color: #222;
}

/* ===== DARK MODE ===== */
.navbar.dark {
  background: rgba(11, 31, 58, 0.35);
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* DARK SCROLL */
.navbar.dark.scrolled {
  background: rgba(11, 31, 58, 0.6);
  backdrop-filter: blur(18px);
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  cursor: pointer;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  object-fit: contain;
}

.logo-text {
  font-size: 21px;
  font-weight: 600;
  text-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* ===== LINKS ===== */
.nav-links {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  justify-content: center;
  gap: 40px;
}

.nav-links span {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

/* UNDERLINE */
.nav-links span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #4fc3f7;
  transition: width 0.3s;
}

.nav-links span:hover::after {
  width: 100%;
}

.nav-links span:hover {
  color: #4fc3f7;
}

/* ACTIVE */
.nav-links span.active {
  color: #4fc3f7;
  font-weight: 600;
}

.nav-links span.active::after {
  width: 100%;
}

/* ===== TOGGLE ===== */
.toggle {
  width: 50px;
  height: 26px;
  margin-right: 25px;
  border-radius: 30px;
  background: #ccc;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

/* DARK BG */
.navbar.dark .toggle {
  background: #4fc3f7;
}

/* CIRCLE */
.toggle-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 2px;
  left: 2px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  transition: all 0.3s ease;
}

/* MOVE RIGHT */
.toggle-circle.dark {
  transform: translateX(24px);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .nav-links {
    gap: 30px;
  }

  .logo-text {
    display: none;
  }
}